# Dependencies
node_modules

# Build output
dist
.wrangler

# Environment variables
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
bun-debug.log*
wrangler-*

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Testing
coverage
